<ul>
  {% for document in documents %}
    <li>
      <h3>{{ document.title }}</h3>
      <p>{{ document.description }}</p>
      <a href="{{ document.file_url }}" target="_blank">View File</a>
      <form action="/documents/{{ document.id }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
      <a href="/documents/{{ document.id }}/edit">Edit</a>
    </li>
  {% else %}
    <p>No documents found.</p>
  {% endfor %}
</ul>
