{% include 'partials/header.twig' %}

<ul>
  {% for document in documents %}
    <li>
      <p>{{ document.description }}</p>
      <form action="/documents/{{ document.id }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
      <a href="/documents/{{ document.id }}/edit">Edit</a>
    </li>
  {% else %}
    <p>No documents found.</p>
  {% endfor %}
</ul>

{% if pagination %}
  <div class="pagination">
    {% if pagination.prev %}
      <a href="?page={{ pagination.prev }}">Previous</a>
    {% endif %}
    <span>Page {{ pagination.current }} of {{ pagination.total }}</span>
    {% if pagination.next %}
      <a href="?page={{ pagination.next }}">Next</a>
    {% endif %}
  </div>
{% endif %}

{% include 'partials/footer.twig' %}
